.quickReply { 
	display: none !important; 
}

#messageList {
    margin-top: 7.4rem !important;
}

.messageHeader {
    padding: 10px !important;
}

#messageList .messageHeader .options > .date,
#messageList .messageHeader .options > .mainActionButton,
#messageList .messageHeader .options > .details-hidden,
#messageList .messageHeader .options > .dropDown,
#messageList .messageHeader .star {
    margin-inline-end: 6px !important;
}

.message {
    background: white !important;
    margin: 16px 21px !important;
    box-shadow: 0 0 6px rgba(10,10,10,.2);
}

.message .messageBody {
    padding: 0px 20px !important;
}

.quickReply.disabled {
    display: none !important;
}

#conversationWrapper .conversationHeader {
    padding: 15px 20px !important;
}

#heading_wrapper {
  color: #fff;
  background-color: var(--background-color);
}

#heading_wrapper:-moz-window-inactive {
  color: #ddd;
  background-color: var(--background-color-inactive);
}

.toolbarbutton-1.msgHeaderView-button {
  color: #666;
  fill: #666;
  -moz-context-properties: fill;
}

#hdrArchiveButton {
  list-style-image: url("chrome://monterailoverlay/content/skin/icons/archive.svg");
}

#hdrTrashButton {
  list-style-image: url("chrome://monterailoverlay/content/skin/icons/delete.svg");
}
