@import url(chrome://MonterailOverlay/content/skin/icons/css/messenger.css);
@import url(chrome://MonterailOverlay/content/skin/icons/css/folder.css);

:root {
    --scrollbar-thumb-hover-color: red;
    /* Background color Navigation & Folder Pane */
    --background-color: #232f3e;
	--background-color-inactive: #2e3742;
    
    /* Background Toolbox  & Compose*/
	--background-color-light: #F2F1F0;
	
    /* Background folder/thread/Lightning */
    --thread-background-color: #ffffff;
    --tree-background-color-selected: #ec7211;
	--tree-background-color-hover: #f5f5f5;
	
	/* Fonts */
    --message-list-text-color: #4C4C4C;
    --link-color: #80CAFE;
	
	/*Message row & Folder row height */
    --message-list-row-height: 40px;
	--folder-tree-row-height: 25px;
	
    /* Scollbar */
    --scrollbar-thumb-color: rgba(127, 127, 127, 0.5);
	--scrollbar-thumb-hover-color: var(--tree-background-color-selected);
	
    /* Message Headers */
    --subject-line-font-size: 150%;
    --headers-background-color: #F2F1F0;
    --headers-text-color: var(--message-list-text-color);

    /* Search Box */
    --search-background-color: #fff;
    --search-text-color: #000;

    /* Date filter search */
    --dateColor: var(--background-color);
    --barHlColor: var(--tree-background-color-selected);
    --barColor: var(--tree-background-color-selected);
}

body {
	overflow-y: auto !important;
	background: #F2F1F0 !important;
}

#mail-toolbar-menubar2,
#mail-bar3 #MsgHeadersToolbar,
#addrbook-toolbar-menubar2,
#ab-bar2,
#FormatToolbar {
    -moz-appearance: none !important;
    border: none !important;
}

toolbar>toolbarbutton {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

box,
hbox,
vbox,
toolbox {
    box-shadow: none !important;
}

#agenda-listbox > richlistitem {
    padding: 7px 4px !important;
}

#agenda-toolbar .agenda-container-box {
    padding: 7px 4px !important;
}

#agenda-panel .today-subpane {
    padding: 2px 4px !important;
}

.tab-content {
    padding-inline-end: 15px !important;
    padding-inline-start: 15px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.inline-toolbar, 
.contentTabToolbar {
    padding-left: 10px;
    padding-right: 10px;
}

.toolbarbutton-1 {
    margin: 10px 4px !important;
    padding: 5px 6px !important;
}

#quick-filter-bar-main-bar {
    padding-inline-start: 10px !important;
    padding-inline-end: 10px !important;
}

.searchBox, 
.themeableSearchBox {
    padding-block: 10px !important;
    padding-inline: 10px 2px !important;
}

#messageList {
    margin-top: 7.4rem !important;
}

.messageHeader {
    padding: 10px !important;
}

progress {
    border-radius: 10px;
}

progress::-moz-progress-bar {
    border-radius: 10px;
}

#messageList .messageHeader .options > .date,
#messageList .messageHeader .options > .mainActionButton,
#messageList .messageHeader .options > .details-hidden,
#messageList .messageHeader .options > .dropDown,
#messageList .messageHeader .star {
    margin-inline-end: 6px !important;
}

.message {
    margin: 16px 21px !important;
    box-shadow: 0 0 6px rgba(10,10,10,.2);
}

.message .messageBody {
    padding: 0px 20px !important;
}

.quickReply.disabled {
    display: none !important;
}

#conversationWrapper .conversationHeader {
    padding: 15px 20px !important;
}

splitter {
    border-color: rgba(127, 127, 127, 0.25) !important;
}

.mail-toolbox::after,
.contentTabToolbox::after {
    content: "";
    display: none !important;
    height: 0px !important;
}

menu[disabled="true"] label,
menuitem[disabled="true"] label,
.splitmenu-menuitem[disabled="true"] label,
menucaption[disabled="true"] label,
.chromeclass-toolbar menu[disabled="true"] label,
.chromeclass-toolbar menuitem[disabled="true"] label,
.chromeclass-toolbar .splitmenu-menuitem[disabled="true"] label,
.chromeclass-toolbar menucaption[disabled="true"] label {
    color: grey !important;
}

/* Search Box */
.searchInput {
    background: var( --search-background-color);
    color: var(--search-text-color);
}

/* Search date filter */
#date-toggle {
    fill: #729fcf;
    color: #ffffff;
    background-image: url("chrome://messenger/skin/icons/timeline.svg") !important;
    background-color: transparent !important;
    -moz-context-properties: fill;
}

.facetious[type="date"][zoomedout="false"] .facet-date-zoom-out {
    background-color: var(--background-color) !important;
    background-image: url("chrome://messenger/skin/icons/zoomout-hover.png") !important;
}

.facetious[type="date"][zoomedout="false"] .facet-date-zoom-out:hover {
    background-color: var(--tree-background-color-selected) !important;
}

#date-toggle:hover {
    fill: var(--tree-background-color-selected) !important;
}

#facet-date text {
    fill: var(--headers-background-color);
}

#titlebar-min, #titlebar-max, #titlebar-close {
    color: #fff;
}
